<%layout("boilerplate")%>
    <div id="food" style="margin-top:100px" class="objects">
        <!-- <h1 class="text-center m-5">FOOD MENU</h1> -->
        <div class="waviy text-center m-5">
            <span style="--i:1">F</span>
            <span style="--i:2">O</span>
            <span style="--i:3">O</span>
            <span style="--i:4">D</span>
            <span style="--i:5"> </span>
            <span style="--i:6">M</span>
            <span style="--i:7">E</span>
            <span style="--i:8">N</span>
            <span style="--i:9">U</span>


        </div>
        <div class="row">
            <div class="col-md-4 col-sm-10 ml-sm-5 ml-md-0" id="c1">
                <div class="card">
                    <img src="images/bon-vivant-qom5MPOER-I-unsplash (1).jpg" class="card-img-top" style="height:500px">
                    <div class="card-body">
                        <div class="text-center py-2">
                            <h5 class="card-title animate-charcter">Asian</h5>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Cream Cheese Wonton<img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    565
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Five Fungi Sushi<img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    GourFood special
                                </p>
                            </li>
                            <li class="list-group-item">
                                Mopu Tofu<img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    569
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Soy sprinkled Omurice<img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    599
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Hokaido Glass Noodles<img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    499
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    GourFood special
                                </p>
                            </li>
                            <li class="list-group-item">
                                Fermeted Black Bean Soup<img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    559
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    GourFood special
                                </p>
                            </li>

                            <li class="list-group-item">
                                Garlic Pad Thai <img src="/images/reddot.png" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    579
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Sesame Rolled Sushi <img src="/images/reddot.png" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    499
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Schezuan Fried Rice <img src="/images/reddot.png" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    489
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-10 ml-sm-5 ml-md-0" id="c2">
                <div class="card">
                    <img src="images/andy-hay-ZN-TT10kf4o-unsplash (1).jpg" class="card-img-top" style="height:500px">
                    <div class="card-body">
                        <div class="text-center py-2">
                            <h5 class="card-title animate-charcter">Indian</h5>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Kadhai paneer <img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"> <span class="pl-5" style="float:right">
                                    599
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Malai kofta <img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    599
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Navrattan korma <img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Dal makhani<img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"> <span class="pl-5" style="float:right">
                                    499
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>

                            <li class="list-group-item">
                                Royal maharani thali <img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Gourfood special
                                </p>
                            </li>
                            <li class="list-group-item">
                                Ghee Roast Mysore Dosa <img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    399
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Rogan Josh <img src="/images/reddot.png" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Gourfood special
                                </p>
                            </li>
                            <li class="list-group-item">
                                Awadhi chicken biryani<img src="/images/reddot.png" alt="" srcset="" width="17px"
                                    style="margin-left:8px"> <span class="pl-5" style="float:right">
                                    599
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>

                            <li class="list-group-item">
                                Malabar mutton biryani<img src="/images/reddot.png" alt="" srcset="" width="17px"
                                    style="margin-left:8px"> <span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-10 ml-sm-5 ml-md-0" id="c3">
                <div class="card">
                    <img src="images/markus-winkler-vH1KDajT1Nc-unsplash.jpg" class="card-img-top" style="height:500px">
                    <div class="card-body">
                        <div class="text-center py-2">
                            <h5 class="card-title animate-charcter">Continental</h5>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                English Breakfast<img src="/images/reddot.png" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Mezze Platter<img src="/images/reddot.png" alt="" srcset="" width="17px"
                                    style="margin-left:8px"> <span class="pl-5" style="float:right">
                                    1099
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Plant Based Meat<img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"> <span class="pl-5" style="float:right">
                                    1299
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    GourFood special
                                </p>
                            </li>
                            <li class="list-group-item">
                                Bear Saubraten<img src="/images/reddot.png" alt="" srcset="" width="17px"
                                    style="margin-left:8px"> <span class="pl-5" style="float:right">
                                    2199
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    GourFood Special
                                </p>
                            </li>
                            <li class="list-group-item">
                                British Carbonara <img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    599
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Vodka Chargrilled Duck <img src="/images/reddot.png" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    1599
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Chimichanga <img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    599
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Porcini Penne Pasta <img src="/images/greendot.jpg" alt="" srcset="" width="17px"
                                    style="margin-left:8px"><span class="pl-5" style="float:right">
                                    499
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div id="drinks" class="objects">
        <!-- <h1 class="text-center m-5">DRINKS MENU</h1> -->
        <div class="waviy text-center m-5">
            <span style="--i:1">D</span>
            <span style="--i:2">R</span>
            <span style="--i:3">I</span>
            <span style="--i:4">N</span>
            <span style="--i:5">K</span>
            <span style="--i:6">S</span>
            <span style="--i:7"> </span>
            <span style="--i:8">M</span>
            <span style="--i:9">E</span>
            <span style="--i:10">N</span>
            <span style="--i:11">U</span>


        </div>
        <div class="row">
            <div class="col-md-4 col-sm-10 ml-sm-5 ml-md-0" id="c1">
                <div class="card">
                    <img src="/images/mocktail.jpg" class="card-img-top" style="height:500px">
                    <div class="card-body">
                        <div class="text-center py-2">
                            <h5 class="card-title animate-charcter">Mocktails</h5>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Long Island<span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Cuban Memories<span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    GourFood Special
                                </p>
                            </li>
                            <li class="list-group-item">
                                La Roca<span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Dark Moon<span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Shirley Temple<span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    made with fresh ingredients
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-10 ml-sm-5 ml-md-0" id="c2">
                <div class="card">
                    <img src="images/cocktail.jpg" class="card-img-top" style="height:500px">
                    <div class="card-body">
                        <div class="text-center py-2">
                            <h5 class="card-title animate-charcter">Cocktails</h5>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Bourbon Bomb <span class="pl-5" style="float:right">
                                    899
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fine quality alcohol
                                </p>
                            </li>
                            <li class="list-group-item">
                                Kamikaze<span class="pl-5" style="float:right">
                                    899
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fine quality alcohol
                                </p>
                            </li>
                            <li class="list-group-item">
                                Bloody Mary <span class="pl-5" style="float:right">
                                    899
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fine quality alcohol
                                </p>
                            </li>
                            <li class="list-group-item">
                                Martini Rosso <span class="pl-5" style="float:right">
                                    899
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fine quality alcohol
                                </p>
                            </li>
                            <li class="list-group-item">
                                Rosemary Sangria <span class="pl-5" style="float:right">
                                    899
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fine quality alcohol
                                </p>
                            </li>
                            <li class="list-group-item">
                                Strawberry Margarita <span class="pl-5" style="float:right">
                                    899
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fine quality alcohol
                                </p>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-10 ml-sm-5 ml-md-0" id="c3">
                <div class="card">
                    <img src="images/shakes.jpg" class="card-img-top" style="height:500px">
                    <div class="card-body">
                        <div class="text-center py-2">
                            <h5 class="card-title animate-charcter">Beverages</h5>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Gour Tea<span class="pl-5" style="float:right">
                                    100
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Black Ivory coffee<span class="pl-5" style="float:right">
                                    200
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Cookies and cream milkshake<span class="pl-5" style="float:right">
                                    399
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                American nut milkshake<span class="pl-5" style="float:right">
                                    399
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Mocha-hazelnut milkshake<span class="pl-5" style="float:right">
                                    399
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Berryblast thick shake<span class="pl-5" style="float:right">
                                    399
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div id="desserts">
        <div class="waviy text-center m-5">
            <span style="--i:1">D</span>
            <span style="--i:2">E</span>
            <span style="--i:3">S</span>
            <span style="--i:4">S</span>
            <span style="--i:5">E</span>
            <span style="--i:6">R</span>
            <span style="--i:7">T</span>
            <span style="--i:8"> </span>
            <span style="--i:9">M</span>
            <span style="--i:10">E</span>
            <span style="--i:11">N</span>
            <span style="--i:12">U</span>


        </div>
        <div class="row">
            <div class="col-md-4 col-sm-10 ml-sm-5 ml-md-0" id="c1">
                <div class="card">
                    <img src="images/cake.jpg" class="card-img-top" style="height:500px">
                    <div class="card-body">
                        <div class="text-center py-2">
                            <h5 class="card-title animate-charcter">Cakes/pastries</h5>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Vanilla Souffle<span class="pl-5" style="float:right">
                                    499
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    made with the freshest ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Creme Brulee<span class="pl-5" style="float:right">
                                    399
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    made with the freshest ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Hazelnut rolled Croissant<span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    GourFood special
                                </p>
                            </li>
                            <li class="list-group-item">
                                Belgian Mousse cup<span class="pl-5" style="float:right">
                                    599
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    made with the freshest ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                NYC Cheesecake<span class="pl-5" style="float:right">
                                    799
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    made with the freshest ingredients
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-10 ml-sm-5 ml-md-0" id="c2">
                <div class="card">
                    <img src="images/sweet.jpg" class="card-img-top" style="height:500px">
                    <div class="card-body">
                        <div class="text-center py-2">
                            <h5 class="card-title animate-charcter">Indian</h5>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Gulab Jamun<span class="pl-5" style="float:right">
                                    99
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Gajar ka Halwa<span class="pl-5" style="float:right">
                                    299
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Shahi tukda<span class="pl-5" style="float:right">
                                    299
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Kesar Rasmalai<span class="pl-5" style="float:right">
                                    299
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Mango Srikhand<span class="pl-5" style="float:right">
                                    399
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Jalebi Rabri<span class="pl-5" style="float:right">
                                    199
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with fresh ingredients
                                </p>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-10 ml-sm-5 ml-md-0" id="c3">
                <div class="card">
                    <img src="images/pie.jpg" class="card-img-top" style="height:500px">
                    <div class="card-body">
                        <div class="text-center py-2">
                            <h5 class="card-title animate-charcter">Pies/Cookies</h5>
                        </div>
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">
                                Pecan Pie <span class="pl-5" style="float:right">
                                    399
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with the freshest ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Sour Apple Pie <span class="pl-5" style="float:right">
                                    599
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with the freshest ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Lemon Tart <span class="pl-5" style="float:right">
                                    199
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with the freshest ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Chocolate Cream Pie <span class="pl-5" style="float:right">
                                    599
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with the freshest ingredients
                                </p>
                            </li>
                            <li class="list-group-item">
                                Spicy Pumpkin Pie<span class="pl-5" style="float:right">
                                    699
                                </span>
                                <p class="text-muted pt-2" style="font-size:small">
                                    Made with the freshest ingredients
                                </p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>