<%layout('boilerplate')%>
    <link rel="stylesheet" href="/css/contact.css">
    <div class="row" style="margin-top:100px;">
        <div class="col-md-4"></div>
        <div class="col-md-6">
            <div class="card" style="width: 25rem;" id="logincard">
                <img src="images/login.jpg" class="card-img-top" style="border-radius:50%;width:50%;margin-left:95px">
                <div class="card-body">
                    <h5 class="card-title text-center" style="font-weight: 900;">REGISTER</h5>
                    <form action="/register" method="post" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label for="username" class="my-2 darki">Username : </label>
                            <input type="text" name="username" id="username" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="my-2 darki">Email : </label>
                            <input type="email" name="email" id="email" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="passwd" class="my-2 darki">Password : </label>
                            <input type="password" name="password" id="passwd" class="form-control" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <button class="btn btn-success">Register</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>